#игнорируем ненужные папки папок
/static/
/notebooks/

# гнорируем системные и временные файлы Python и сред разработки
__pycache__/
*.pyc
.vscode/
.idea/
/toxic_detector/

#игнор папки с датасетом, подготовленными данными, стоп словами
/data/
